<!DOCTYPE html>
<html>
<head>
    <title>YandeViewer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navigation" id="prev">&laquo;</div>
    <div class="container">
        <div id="loading">Laden...</div>
        <img id="image" src="" alt="Bild">
    </div>
    <div class="navigation" id="next">&raquo;</div>
    <div id="index-display" class="index-display"></div>
    <script id="image-urls" type="application/json">{{ image_urls|tojson }}</script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
